body {
    height: 100vh;
    background: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}