@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #FDFAEF,#EDCA4D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1e1803b0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1E1803;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}

h2 {

    color: #ED7A4D ;
}